{% extends "layout.html" %}
{% block body %}
<div>
    <button onclick="open_door()" class="btn btn-default">Unlock the door</button>
</div>

<br>

{% for color, colorid in ('Red', 'red'), ('Green', 'green'), ('Blue', 'blue') %}
<div>
    <label class="checkbox-inline">
        <input onclick="update_color()" type="checkbox" id="{{ colorid }}" value="{{ colorid }}"/> {{ color }}
    </label>
</div>
{% endfor %}

<br>

<div>
    <canvas class="pull-left" id="statusIndicator" width="50" height="50"></canvas>
</div>

<script type="text/javascript">
    var timerId = setInterval(refresh, 100);
    var mutex = false;
    refresh();

    function open_door() {
        $.ajax({
            url: "/api/door/open",
            method: "put"
        });
    }

    function update_color() {
        mutex = true;

        var blue = ($("#blue").prop('checked') ? 1 : 0);
        var red = ($("#red").prop('checked') ? 1 : 0);
        var green = ($("#green").prop('checked') ? 1 : 0);
        $.ajax({
            url: "/api/led/color",
            method: "put",
            data: "blue=" + blue +
            "&red= " + red +
            "&green=" + green,
            complete: function () {
                mutex = false;
            }
        });
        update_canvas({'red': red, 'green': green, 'blue': blue})
    }

    function refresh() {
        $.getJSON("/api/led/color",
                function (data) {
                    if (!mutex) {
                        $("#red").prop('checked', data.red);
                        $("#green").prop('checked', data.green);
                        $("#blue").prop('checked', data.blue);

                        update_canvas(data);
                    }
                }
        );
    }

    function update_canvas(data) {
        var canvas = document.getElementById('statusIndicator');
        var context = canvas.getContext('2d');
        var centerX = canvas.width / 2;
        var centerY = canvas.height / 2;
        var radius = canvas.width / 2 - 1;

        context.imageSmoothingEnabled = true;
        context.beginPath();
        context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
        context.fillStyle = 'rgb(' + (data.red ? 255 : 0) + ',' + (data.green ? 255 : 0) + ',' + (data.blue ? 255 : 0) + ')';
        context.fill();

        context.lineWidth = 1;
        context.strokeStyle = '#000000';
        context.stroke();
    }
</script>
{% endblock %}