<!doctype html>
<html>
<head>
    {% if page_title %}<title>{{ page_title }}</title>{% endif %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    {% if page_title %}<h1>{{ page_title }}</h1>{% endif %}
    {% block body %}{% endblock %}
</div>
</body>
</html>